body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root, main{
  height: auto;
  min-height: 100%;
  background-color: rgb(223, 226, 231);
  padding-bottom: 50px;
}

.navbar-item{
font-size: 20px;
}

h2{
  font-size: 30px;
}

#centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb{
  color:inherit;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 10px;

}

.link{
  color: white
}

.card{
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 20px;
}

.allButtons{
  margin: 10px;
}


.searchBox{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px
}

form{
  margin: 20px;
}

.ant-alert{
  margin: 10px;
}